<form action="" method="post"> {% csrf_token %}
    <h3 class="mb-4"> Iniciar sesión </h3>
    {% if form.non_field_erros %}
    <p style="color: red"> Usuario o contraseña incorrectos, pruebe de nuevo. </p>
        {% endif %}
    <p>
    <input type="text" name="username" autofocus required id="id_username"
    class="form-control"/>
    </p>
    <p>
    <input type="password" name="password" required id="id_password"
    class="form-control"/>
    </p>
    <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
</form>