{% extends "base.html" %}

<html>
    <head>
     
    </head>

    
    {% block content %}
        <body style="height: 100%;">
            <div class="container text-center">
                {% if  object_list %}
                <h1> Reparaciones sin ti </h1> 
            </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Coche</th>
                            <th>Motivo</th>
                            <th>Fecha solicitud</th>
                            
                            <th>Cliente</th>         
                            <th>Participar</th>                    
                           
                        </tr>
                        {% endif %}
                        {% for c in object_list %}
                        <tr>
                            {% load static %}
                            <th>{{ c.Coches.Marca }}</th>
                            <th>{{ c.Motivo }}</th>
                            <th>{{ c.FechaSolicitud }}</th>
                           
                            <th>{{ c.Propietario.user.username }}</th>
                            <form action="#" method="POST">
                            {% csrf_token %}
                            <th><a type="submit" class="btn btn-outline-primary" onclick="return confirm('Seguro que quieres asignarte en la reparacion de {{c.Coches.Marca}}?');" href="{% url 'reparaciones_ex' c.id %}" ><i class="fas fa-plus-circle"></i><i class="fas fa-wrench"></i></a></th>
                            </form>
                        </tr>
                        {% empty %}
                        <div class="container text-center">
                           
                            <h2> No existen reparaciones sin ti, que crack! </h2>
                        </div>
                        {% endfor %}
                    </thead>

            </div>
          </body>
      {% endblock %}
</html>